.movie-detail {
  .poster {

  }
  .description-container {
    .movie-content {
      .content-label {
        display: inline;
      }
      .content{
        display: inline;
        word-wrap: break-word;
      }
    }
  }
}
