.movie-detail {
  .poster {
    .image {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
  .description-container {
    .movie-content {
      margin-bottom: 10px;
      .content-label {
        display: inline;
      }
      .content{
        display: inline;
        word-wrap: break-word;
      }
    }
  }
}
