<div class="movie-detail row">
  <div class="poster col-md-4">
    POSTER
  </div>
  <div class="col-md-8">
    <div class="description-container">
      <div class="movie-content">
        <div class="content-label">
          Description
        </div>
        <div class="content">
          NA
        </div>
      </div>
      <div class="movie-content">
        <div class="content-label">
          Actors
        </div>
        <div class="content">
          JAG, Brad Pit
        </div>
      </div>
    </div>
  </div>
</div>
